* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  height: 100vh;
  background-image: linear-gradient(#12c2e9,#c471ed, #f64f59);
}

.input-box{
  margin: 35px;
  padding: 10px 0;
  width: 75%;
  height: 5%;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.table {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid black;
}

tr, td {
  padding: 10px 0;
  /* border-bottom: 1px solid black; */
}

.list-item {
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}